.page {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    letter-spacing: 1px;
    line-height: 6vh;
    padding: 4vh 0;
}

.search-box {
    width: 20vw;
}

.top {
    text-align: center;
}

.sub-title {
    text-align: center;
    line-height: 6vh;
    padding: 2vh 0;
}

.book-list {
    background-color: snow;
    margin: 0 20vw;
}

li {
    padding: 1vh 0;
}

li button {
    display: flex;
    float: right;
    background-color: #7FDBFF;
    color: white;
    border-radius: 4px;

}

li button.focus, button:focus {
    outline: 0;
    box-shadow: none;
}

li button:hover {
    background-color: #DDDDDD;
}

.name {
    font-size: 2vh;
}

.bottom {
    text-align: center;
    padding: 2vh 0;
}

.add-book {
    width: 16vw;
}